.center-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.center {
	font-family: "Open Sans", Helvetica, sans-serif;
	position: relative;
	top: 55px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 300px;
	height: 300px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #999;
	text-align: center;
}

.dropzone {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 90px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 30px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
	background: darkmagenta;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 hotpink;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn:hover {
	background: rebeccapurple;
	box-shadow: 0 3px 0 0 deeppink;
}

.power {
	position: absolute;
	top: -15%;
	width: 225px;
	height: 35px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: rgba(89, 89, 89, 1.0);
}

.message {
	position: absolute;
	top: 73%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 100px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.drops {
 	list-style: none;
	position: relative;
	height: 10px;
	width: 140px;
	margin: 0 auto;
	left: 5px;
}

.drops li {
	position: absolute;
	top: 0px;
	height: 10px;
	width: 10px;
}

.green {
	background-color: #00e64d;
	transform: scale(1);
        animation: pulse 3s infinite;

}

@keyframes pulse {
	0% {
		transform: scale(0.95);
     box-shadow:  0 0 5px rgba(0, 204, 68, 0.7), 
               0 0 10px rgba(0, 204, 68, 0.7), 
               0 0 15px rgba(0, 204, 68, 0.7), 
               0 0 20px rgba(0, 204, 68, 0.7), 
               0 0 30px rgba(0, 204, 68, 0.7), 
               0 0 40px rgba(0, 204, 68, 0.7);
	}

	50% {
		transform: scale(1);
    box-shadow:  0 0 5px rgba(0, 204, 68, 1), 
               0 0 10px rgba(0, 204, 68, 1), 
               0 0 15px rgba(0, 204, 68, 1), 
               0 0 20px rgba(0, 204, 68, 1), 
               0 0 30px rgba(0, 204, 68, 1), 
               0 0 40px rgba(0, 204, 68, 1);

	}

	100% {
		transform: scale(0.95);
		box-shadow:  0 0 5px rgba(0, 204, 68, 0.7), 
               0 0 10px rgba(0, 204, 68, 0.7), 
               0 0 15px rgba(0, 204, 68, 0.7), 
               0 0 20px rgba(0, 204, 68, 0.7), 
               0 0 30px rgba(0, 204, 68, 0.7), 
               0 0 40px rgba(0, 204, 68, 0.7);
	}
}

.red {
	background-color: #ff4444;
}

.drops li:nth-child(1) {
	left: 0px;
  
}
.drops li:nth-child(2) {
	left: 40px;
  
}
.drops li:nth-child(3) {
	left: 80px;
  
}
.drops li:nth-child(4) {
	left: 120px;
  
}
.drops li:nth-child(5) {
	left: 160px;
}

.log {
	position: absolute;
	top: 1%;
	left: 1%;
	width: 350px;
	height: 90%;
	display: flex;
}

.popup {
  	position: relative;
  	top: 8%;
	left: 15%;
	display: inline-block;
	cursor: pointer;
}

.popup .popuptext {
	visibility: hidden;
	width:300px;
	background-color: white;
 	color: black;
	text-align: left;
	border-radius: 3px;
	padding: 8px 15px;
	position: absolute;
	z-index: 1;
	top: -85%;
	left: 10%;
	margin-left: 80px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", Helvetica, sans-serif;

}

.popup .show {
	visibility: visible;
}

.stat_box {
	position: relative;
	left: 50%;
	transform: translate(-50%, 5%);
	width: 60%;
	height: 550px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.stat_button {
	position:absolute;
	top: 95%;
	transform: translate(0%, -50%);
}

.counter_area {
	position: relative;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-style: solid;
	border-color: #222222;
	color: #222222;
}

.counter_box {
	position: relative;
	top: 10px;
	float: left;
	width: 100%;
	text-align: center;
	font-family: Lato, Helvetica, sans-serif;
}

.counter_big {
	font-size: 40px;
	font-weight: bold;
}

.counter_small {
	top: 72%;
	font-size: 15px;
}
